header {
  text-align: center;
  background: rgb(236, 99, 99);
  padding: 1rem 2rem;
  margin: 0;
}

.events_control {
  background: rgb(236, 99, 99);
  text-align: center;
  padding: 3rem;
  margin: 2rem auto;
}

.events_control button {
  background-color: #c0d6df;
  border: 1px solid #c0d6df;
  border-radius: 2.5px;
  padding: 0.5rem 1rem;
  width: 25rem;
  max-width: 80%;
  box-shadow: 1px 1px 1px;
  font-family: sans-serif;
}

.events_control button:hover {
  background-color: #82a0ac;
  border: 1px solid #82a0ac;
  border-radius: 2.5px;
  padding: 0.5rem 1rem;
  width: 25rem;
  max-width: 80%;
  cursor: pointer;
}
